.wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: white;
}
